@use 'base' as *;

.wrapper {
  padding-inline: 1.5rem;
  margin-inline: auto;

  @include respond(sm) {
    max-width: 540px;
  }

  @include respond(md) {
    padding-inline: 0;
    max-width: 689px;
  }

  @include respond(lg) {
    max-width: 960px;
  }

  @include respond(xl) {
    max-width: 1110px;
  }
}

.flex-group {
  display: flex;
  gap: 1rem;
}
